// custom setup code goes here
.code-label {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    border-radius: 10px;
    color: hsl(205, 100%, 70%);
    display: inline-block;
    padding: 3px 10px 5px 10px;
    margin: 0 0 0px 0;
    width: fit-content;
    z-index: 100;
    top: 10px;
    left: 5px;
    position: relative;
    font-family: monospace;
  }

  .note{
    background-color: rgb(107, 45, 184)!important;
    padding: 10px;
    border-radius: 10px;
    h2{
      margin-top:0px!important;
      padding-top:0px!important;
    }
    p{
      padding: 0;
      margin: 0;
    }
  }

  .small-note{
    background-color: rgb(99, 41, 169);
    padding: 8px;
    border-radius: 8px;
    font-size: 0.8rem;
    max-width: 500px;
    h2{
      margin-top:0px!important;
      padding-top:0px!important;
    }
    p{
      padding: 0;
      margin: 0;
    }
  }

  .cover-image {
    height: 200px;  
    width: 100%;
    object-fit: cover;
  }